In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("raw_data/2026-01-07/BTC_USDT/historical_BTC_USDT.csv")
data

,Date,Open,High,Low,Close,Volume
0,2021-01-08 20:00:00,40365.09,40937.77,38652.00,40582.81,21463.086123
1,2021-01-09 00:00:00,40586.96,40976.13,39500.00,40211.59,13875.824360
2,2021-01-09 04:00:00,40209.91,40490.00,38720.00,39638.61,12464.021144
3,2021-01-09 08:00:00,39639.21,41237.44,39290.86,40565.77,14548.756541
4,2021-01-09 12:00:00,40565.77,41380.00,40200.00,40525.15,13783.073010
...,...,...,...,...,...,...
10944,2026-01-06 20:00:00,92104.49,93845.03,92098.29,93747.97,3718.678950
10945,2026-01-07 00:00:00,93747.97,93747.97,92236.07,92815.83,2673.215790
10946,2026-01-07 04:00:00,92815.83,92930.35,92500.00,92879.13,1043.572970
10947,2026-01-07 08:00:00,92879.14,92961.53,91600.00,92087.21,2601.797450
10948,2026-01-07 12:00:00,92087.21,92176.98,91977.73,92031.65,379.002730

In [4]:
aapl = pd.read_csv("/home/adityagautam/Desktop/Projects/quantTrader/backend/raw_data/2025-12-20/AAPL/historical_AAPL.csv")
aapl

,Date,Adj Close,Close,High,Low,Open,Volume
0,2023-12-22 14:30:00+00:00,194.130005,194.130005,195.410004,193.839996,195.179993,18873174
1,2023-12-22 18:30:00+00:00,193.529999,193.529999,194.294998,192.970001,194.125000,12244935
2,2023-12-26 14:30:00+00:00,193.139999,193.139999,193.889999,192.889999,193.610001,14974701
3,2023-12-26 18:30:00+00:00,193.039993,193.039993,193.490005,192.830002,193.145004,9149749
4,2023-12-27 14:30:00+00:00,192.975998,192.975998,193.149994,191.089996,192.490005,26183668
...,...,...,...,...,...,...,...
990,2025-12-17 18:30:00+00:00,271.859985,271.859985,274.109985,271.690002,272.990112,9344579
991,2025-12-18 14:30:00+00:00,272.649994,272.649994,273.619995,266.959991,273.605011,19399749
992,2025-12-18 18:30:00+00:00,272.160004,272.160004,273.200012,270.500000,272.670013,7812649
993,2025-12-19 14:30:00+00:00,270.750000,270.750000,272.920013,270.269989,272.144989,27209491
994,2025-12-19 18:30:00+00:00,273.670013,273.670013,274.576294,269.899994,270.760010,13846366

In [ ]:
def create_batch(batch_size=64)

,Date,Adj Close,Close,High,Low,Open,Volume
0,2021-11-01,145.686768,148.960007,149.699997,147.800003,148.990005,74588300
1,2021-11-02,146.723480,150.020004,151.570007,148.649994,148.660004,69122000
2,2021-11-03,148.161179,151.490005,151.970001,149.820007,150.389999,54511500
3,2021-11-04,147.642792,150.960007,152.429993,150.639999,151.580002,60394600
4,2021-11-05,148.171722,151.279999,152.199997,150.059998,151.889999,65463900
...,...,...,...,...,...,...,...
998,2025-10-23,259.328583,259.579987,260.619995,258.010010,259.940002,32754900
999,2025-10-24,262.565491,262.820007,264.130005,259.179993,261.190002,38253700
1000,2025-10-27,268.549652,268.809998,269.119995,264.649994,264.880005,44888200
1001,2025-10-28,268.739471,269.000000,269.890015,268.149994,268.989990,41534800
1002,2025-10-29,269.438812,269.700012,271.410004,267.109985,269.279999,51086700

In [5]:
normalised = pd.read_csv("raw/normalized_indicators/normalized_AAPL.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'raw/normalized_indicators/normalized_AAPL.csv'

In [ ]:
normalised.head()

,Date,SMA_20,SMA_50,EMA_12,EMA_26,RSI_14,MACD,MACD_SIGNAL,BB_UPPER,BB_LOWER,BB_MIDDLE,ADX_14,OBV
0,2023-01-03,0.0,0.0,0.0,0.0,1.000000,0.944773,0.899225,0.0,0.0,0.0,1.0,0.032561
1,2023-01-04,0.0,0.0,0.0,0.0,1.000000,0.944773,0.899225,0.0,0.0,0.0,1.0,0.032561
2,2023-01-05,0.0,0.0,0.0,0.0,0.905116,0.944773,0.899225,0.0,0.0,0.0,1.0,0.000000
3,2023-01-06,0.0,0.0,0.0,0.0,0.925496,0.944773,0.899225,0.0,0.0,0.0,1.0,0.035293
4,2023-01-09,0.0,0.0,0.0,0.0,0.927430,0.944773,0.899225,0.0,0.0,0.0,1.0,0.063764

In [ ]:
indicators = pd.read_csv("raw/indicators/indicators_AAPL.csv")
indicators

,Date,SMA_20,SMA_50,EMA_12,EMA_26,RSI_14,MACD,MACD_SIGNAL,BB_UPPER,BB_LOWER,BB_MIDDLE,ADX_14,OBV
0,2023-01-03,135.778999,144.7934,131.252500,139.408845,100.000000,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,8.911360e+07
1,2023-01-04,135.778999,144.7934,131.252500,139.408845,100.000000,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,8.911360e+07
2,2023-01-05,135.778999,144.7934,131.252500,139.408845,92.600758,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,8.150900e+06
3,2023-01-06,135.778999,144.7934,131.252500,139.408845,94.190027,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,9.590560e+07
4,2023-01-09,135.778999,144.7934,131.252500,139.408845,94.340849,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,1.666964e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,2024-10-23,229.727000,226.4908,231.806516,229.301200,52.593026,2.505316,2.163433,237.575042,221.878958,229.727000,15.860638,2.282126e+09
455,2024-10-24,229.879500,226.6678,231.616284,229.395186,52.271541,2.221098,2.174966,237.665257,222.093743,229.879500,15.128280,2.251016e+09
456,2024-10-25,230.060500,226.8016,231.584548,229.544431,53.621399,2.040117,2.147996,237.809955,222.311045,230.060500,14.983254,2.289818e+09
457,2024-10-28,230.080500,226.9486,231.863848,229.830029,56.742652,2.033819,2.125161,237.863887,222.297113,230.080500,15.165303,2.325906e+09
458,2024-10-29,230.453500,227.1042,232.141717,230.114471,57.163889,2.027246,2.105578,238.170624,222.736375,230.453500,15.264670,2.361323e+09

In [8]:
import yfinance as yf
print(yf.__version__)

data = yf.download("AAPL", start="2010-01-01", interval="1d")
print(data.index.min(), data.index.max(), len(data))

0.2.66

/tmp/ipykernel_45826/280823695.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("AAPL", start="2010-01-01", interval="1d")
[*********************100%***********************]  1 of 1 completed

2010-01-04 00:00:00 2025-12-19 00:00:00 4017

In [9]:
data

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2010-01-04    6.418383    6.433078    6.369497    6.400988  493729600
2010-01-05    6.429479    6.465768    6.395588    6.436077  601904800
2010-01-06    6.327210    6.454972    6.320612    6.429479  552160000
2010-01-07    6.315515    6.358102    6.269628    6.350604  477131200
2010-01-08    6.357502    6.358103    6.269929    6.307118  447610800
...                ...         ...         ...         ...        ...
2025-12-15  274.109985  280.149994  272.839996  280.149994   50409100
2025-12-16  274.609985  275.500000  271.790009  272.820007   37648600
2025-12-17  271.839996  276.160004  271.640015  275.010010   50138700
2025-12-18  272.190002  273.630005  266.950012  273.609985   51630700
2025-12-19  273.670013  274.600006  269.899994  272.149994  144599200

[4017 rows x 5 columns]