In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("raw/historical_['AAPL']_2021-10-30_to_2025-10-30.csv")

In [4]:
data

,Date,Adj Close,Close,High,Low,Open,Volume
0,2021-11-01,145.686752,148.960007,149.699997,147.800003,148.990005,74588300
1,2021-11-02,146.723495,150.020004,151.570007,148.649994,148.660004,69122000
2,2021-11-03,148.161179,151.490005,151.970001,149.820007,150.389999,54511500
3,2021-11-04,147.642807,150.960007,152.429993,150.639999,151.580002,60394600
4,2021-11-05,148.171738,151.279999,152.199997,150.059998,151.889999,65463900
...,...,...,...,...,...,...,...
998,2025-10-23,259.328583,259.579987,260.619995,258.010010,259.940002,32754900
999,2025-10-24,262.565491,262.820007,264.130005,259.179993,261.190002,38253700
1000,2025-10-27,268.549652,268.809998,269.119995,264.649994,264.880005,44888200
1001,2025-10-28,268.739471,269.000000,269.890015,268.149994,268.989990,41534800
1002,2025-10-29,269.438812,269.700012,271.410004,267.109985,269.279999,51086700

In [5]:
normalised = pd.read_csv("raw/normalized_indicators/normalized_AAPL.csv")

In [6]:
normalised.head()

,Date,SMA_20,SMA_50,EMA_12,EMA_26,RSI_14,MACD,MACD_SIGNAL,BB_UPPER,BB_LOWER,BB_MIDDLE,ADX_14,OBV
0,2023-01-03,0.0,0.0,0.0,0.0,1.000000,0.944773,0.899225,0.0,0.0,0.0,1.0,0.032561
1,2023-01-04,0.0,0.0,0.0,0.0,1.000000,0.944773,0.899225,0.0,0.0,0.0,1.0,0.032561
2,2023-01-05,0.0,0.0,0.0,0.0,0.905116,0.944773,0.899225,0.0,0.0,0.0,1.0,0.000000
3,2023-01-06,0.0,0.0,0.0,0.0,0.925496,0.944773,0.899225,0.0,0.0,0.0,1.0,0.035293
4,2023-01-09,0.0,0.0,0.0,0.0,0.927430,0.944773,0.899225,0.0,0.0,0.0,1.0,0.063764

In [8]:
indicators = pd.read_csv("raw/indicators/indicators_AAPL.csv")
indicators

,Date,SMA_20,SMA_50,EMA_12,EMA_26,RSI_14,MACD,MACD_SIGNAL,BB_UPPER,BB_LOWER,BB_MIDDLE,ADX_14,OBV
0,2023-01-03,135.778999,144.7934,131.252500,139.408845,100.000000,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,8.911360e+07
1,2023-01-04,135.778999,144.7934,131.252500,139.408845,100.000000,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,8.911360e+07
2,2023-01-05,135.778999,144.7934,131.252500,139.408845,92.600758,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,8.150900e+06
3,2023-01-06,135.778999,144.7934,131.252500,139.408845,94.190027,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,9.590560e+07
4,2023-01-09,135.778999,144.7934,131.252500,139.408845,94.340849,8.209849,7.095565,149.050769,122.507230,135.778999,74.113995,1.666964e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,2024-10-23,229.727000,226.4908,231.806516,229.301200,52.593026,2.505316,2.163433,237.575042,221.878958,229.727000,15.860638,2.282126e+09
455,2024-10-24,229.879500,226.6678,231.616284,229.395186,52.271541,2.221098,2.174966,237.665257,222.093743,229.879500,15.128280,2.251016e+09
456,2024-10-25,230.060500,226.8016,231.584548,229.544431,53.621399,2.040117,2.147996,237.809955,222.311045,230.060500,14.983254,2.289818e+09
457,2024-10-28,230.080500,226.9486,231.863848,229.830029,56.742652,2.033819,2.125161,237.863887,222.297113,230.080500,15.165303,2.325906e+09
458,2024-10-29,230.453500,227.1042,232.141717,230.114471,57.163889,2.027246,2.105578,238.170624,222.736375,230.453500,15.264670,2.361323e+09